body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.profile-container {
  max-width: 80vw; /* Adjust the maximum width as needed */
  margin: 20px auto;
  background-color: #fff;
  border-radius: 2.60417vw; /* 10px in vw */
  box-shadow: 0 0 1.04167vw rgba(0, 0, 0, 0.1); /* 10px in vw */
}

.banner {
  position: relative;
}

.banner-image {
  width: 100%;
  max-height: 35vh; /* Set the maximum height for the banner */
  border-top-left-radius: 10px; /* 10px in vw */
  border-top-right-radius: 10px; /* 10px in vw */
}

.profile-picture {
  position: absolute;
  top: 2.60417vw; /* 50px in vw */
  left: 2.60417vw; /* 50px in vw */
  width: 13.0208vw; /* 250px in vw */
  height: 13.0208vw; /* 250px in vw */
  border: 0.15625vw solid #fff; /* 3px in vw */
  border-radius: 50%;
  object-fit: cover;
}

.navigation {
  text-align: right;
  margin-top: 0.52083vw; /* 10px in vw */
  margin-right: 6.25vw; /* 120px in vw */
}

.navigation a {
  margin-right: 0.52083vw; /* 10px in vw */
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 2vh;
}

.content-container {
  display: flex;
  max-width: calc(
    100vw - 6.25vw
  ); /* Adjust the maximum width of the content container */
  margin: 1.04167vw; /* 20px in vw */
}

.profile-section {
  flex: 1;
  padding: 1.04167vw; /* 20px in vw */
}

.profile-name {
  margin: 0;
  font-size: 2vw;
}

.profile-username {
  color: #888;
  margin: 0.52083vw 0; /* 5px in vw */
  font-size: 1vw;
}

.about-me {
  margin: 1.04167vw 0; /* 10px in vw */
  font-size: 1.15vw;
}

.bullet-points {
  margin-top: 5vh;
}

.bullet-points li {
  margin-top: 1vw;
  margin-bottom: 0.52083vw; /* 5px in vw */
  font-size: 2vw;
}

.timeline-section {
  flex: 2;
  padding: 1.04167vw; /* 20px in vw */
  padding-top: 0;
}

.tweet {
  margin-bottom: 1.04167vw; /* 20px in vw */
  overflow: hidden;
}

.tweet-image {
  width: 7.8125vw; /* 150px in vw */
  height: 7.8125vw; /* 150px in vw */
  border-radius: 0.52083vw; /* 10px in vw */
  float: left;
  margin-top: 0.78125vw; /* 15px in vw */
  margin-right: 0.52083vw; /* 10px in vw */
  clear: both;
}

.tweet-text {
  margin-left: 6.25vw; /* 120px in vw */
  overflow: hidden;
  line-height: 1.5;
  font-size: 1.04167vw; /* 1.2em in vw */
}
