body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.profile-container {
    max-width: 90%; /* Adjust the maximum width as needed */
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.banner {
    position: relative;
}

.banner-image {
    width: 100%;
    max-height: 35vh; /* Set the maximum height for the banner */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.profile-picture {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 250px;
    height: 250px;
    border: 3px solid #fff;
    border-radius: 50%;
    object-fit: cover;
}

.navigation {
    text-align: right;
    margin-top: 10px;
    margin-right: 120px;
}

.navigation a {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.content-container {
    display: flex;
    max-width: calc(100% - 40px); /* Adjust the maximum width of the content container */
    margin: 20px;
}

.profile-section {
    flex: 1;
    padding: 20px;
}

.profile-name {
    margin: 0;
}

.profile-username {
    color: #888;
    margin: 5px 0;
}

.about-me {
    margin: 10px 0;
}


.bullet-points li {
    margin-bottom: 5px;
}

.timeline-section {
    flex: 2;
    padding: 20px;
    padding-top: 0px;
}

.tweet {
    margin-bottom: 20px;
    overflow: hidden;
}

.tweet-image {
    width: 150px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    border-radius: 10px;
    float: left;
    margin-top: 15px;
    margin-right: 10px; /* Add right margin for separation */
    clear: both; /* Clear the float after the image */
}

.tweet-text {
    margin-left: 120px; /* Add left margin for separation */
    overflow: hidden;
    line-height: 1.5;
}
